@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Segoe UI, Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .iridescent-container {
            position: relative;
            text-align: center;
            margin-top: 10vh;
        }

            .iridescent-container h1 {
                font-size: 6rem;
                background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                background-size: 400% 400%;
                -webkit-animation: GradientAnimation 15s ease infinite;
                -moz-animation: GradientAnimation 15s ease infinite;
                animation: GradientAnimation 15s ease infinite;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        @@keyframes GradientAnimation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .main-title {
            text-align: center;
            margin-top: 10vh;
            font-size: 2rem;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .custom-button {
            background-color: wheat;
            border: none;
            color: white;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.5rem;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition: all 0.3s ease; 
            clip-path: polygon(0% 0%, 100% 15%, 85% 100%, 0% 100%); 
            animation: boundaryAnimation 5s infinite alternate; 
        }

        @@keyframes moveBoundaryAnimation {
            0% {
                clip-path: polygon(0% 0%, 100% 15%, 85% 100%, 0% 100%);
            }

            25% {
                clip-path: polygon(0% 0%, 100% 30%, 70% 100%, 0% 100%);
            }

            50% {
                clip-path: polygon(0% 0%, 100% 20%, 90% 100%, 0% 100%);
            }

            75% {
                clip-path: polygon(0% 0%, 100% 25%, 75% 100%, 0% 100%);
            }

            100% {
                clip-path: polygon(0% 0%, 100% 15%, 85% 100%, 0% 100%);
            }
        }

        .custom-button:hover {
            background-color: #45a049;
            transform: translate(2px, -2px); 
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
        }
    </style>
</head>
<body>
    <div class="iridescent-container">
        <h1>Веб-платформа для поиска пропавших людей “HelpComing”</h1>
    </div>
    <span>                                            </span>
    <div class="button-container">
        <button class="custom-button" asp-controller="Users" asp-action="Add" onclick="window.location.href='/Users/Add'">Регистрация</button>
        <button class="custom-button" asp-controller="Users" asp-action="Login" onclick="window.location.href='/Users/Login'">Авторизация</button>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function getRandomClipPath(button) {
                const randomX1 = Math.random() * 20;
                const randomX2 = 100 - Math.random() * 20;
                const randomY = 15 + Math.random() * 70;
                const randomClipPath = `polygon(0% 0%, 100% ${randomY}%, ${randomX2}% 100%, ${randomX1}% 100%)`;
                button.style.clipPath = randomClipPath;
                button.style.animation = 'moveBoundaryAnimation 5s infinite alternate';
            }

            document.querySelectorAll('.custom-button').forEach(button => {
                getRandomClipPath(button);
            });
        });
    </script>

    <script>
        particlesJS("iridescent-container", {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
    </script>
</body>
</html>
