@{
    ViewData["Title"] = "Home Page";
}

<div class="center-content">
    <h2>Employee</h2>
    <h2>Environment</h2>
    <p>Среда по полному и всестороннему контролю удаленных сотрудников</p>
    <p>Лучший выбор для безофиссного IT-бизнеса</p>
</div>
